<div>

    @if (!showDetail)
    {
        <button @onclick="ToggleDetails">Show Details</button>
        <span>@characterAbility.Name</span>
    }
    else
    {
        <button @onclick="ToggleDetails">Hide Details</button>
        <button @onclick="ToggleEdit">Toggle Edit</button>
        @if (isEditing)
        {
            <div>
                <label>
                    Name:
                    <input @bind="characterAbility.Name" />
                </label>
            </div>
            <div>
                <label>
                    Tier:
                    <input @bind="characterAbility.Tier" />
                </label>
            </div>
            <div>
                <label for="@(characterAbility.CharacterAbilityId)effect">
                    Description:
                </label>
                <textarea id="@(characterAbility.CharacterAbilityId)effect" rows="1" class="form-control" style="resize:both;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';" @bind="characterAbility.Description" />
            </div>
        }
        else
        {
            <div>
                <label>
                    Name:
                </label>
                <span>@characterAbility.Name</span>
            </div>
            <div>
                <label>
                    Tier:
                </label>
                <span>@characterAbility.Tier</span>
            </div>
            <div>
                <label>
                    Description:
                </label>
                <br />
                <span>
                    @characterAbility.Description
                </span>
            </div>
        }
    }


</div>

@code {
    [Parameter]
    public CypherBot.Core.Models.CharacterAbility characterAbility { get; set; }

    private bool showDetail = false;
    private bool isEditing = false;

    private void ToggleEdit()
    {
        isEditing = !isEditing;
    }
    private void ToggleDetails()
    {
        showDetail = !showDetail;
    }
}
