<div>

    @if (!showDetail)
    {
        <button @onclick="ToggleDetails">Show Details</button>
        <span>@Cypher.Name, Level: @Cypher.Level</span>
    }
    else
    {
        <button @onclick="ToggleDetails">Hide Details</button>
        <button @onclick="ToggleEdit">Toggle Edit</button>
        @if (isEditing)
        {
            <div>
                <label>
                    Name:
                    <input @bind="Cypher.Name" />
                </label>
            </div>
            <div>
                <label>
                    Level:
                    <input @bind="Cypher.Level" />
                </label>
            </div>
            <div>
                <label>
                    Form:
                    <input @bind="Cypher.Form" />
                </label>
            </div>
            <div>
                <label for="@(Cypher.CypherId)effect">
                    Effect:
                </label>
                <textarea id="@(Cypher.CypherId)effect" rows="1" class="form-control" style="resize:both;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';" @bind="Cypher.Effect" />
            </div>
            @if (!string.IsNullOrEmpty(Cypher.EffectOption))
            {
                <div>
                    <label>
                        Effect Option:
                        <input @bind="Cypher.EffectOption" />
                    </label>
                </div>
            }
            <div>
                <label>
                    Source:
                    <input @bind="Cypher.Source" />
                </label>
            </div>
        }
        else
        {
            <div>
                <label>
                    Name:
                </label>
                <span>@Cypher.Name</span>
            </div>
            <div>
                <label>
                    Level:
                </label>
                <span>@Cypher.Level</span>
            </div>
            <div>
                <label>
                    Form:
                </label>
                <span>@Cypher.Form</span>
            </div>
            <div>
                <label>
                    Effect:
                </label>
                <br />
                <span>
                    @Cypher.Effect
                </span>
            </div>
            @if (!string.IsNullOrEmpty(Cypher.EffectOption))
            {
                <div>
                    <label>
                        Effect Option:
                    </label>
                    <span>@Cypher.EffectOption</span>
                </div>
            }
            <div>
                <label>
                    Source:
                </label>
                <span>@Cypher.Source</span>
            </div>
        }
    }


</div>

@code {
    [Parameter]
    public CypherBot.Core.Models.CharacterCypher Cypher { get; set; }

    private bool showDetail = false;
    private bool isEditing = false;

    private void ToggleEdit()
    {
        isEditing = !isEditing;
    }
    private void ToggleDetails()
    {
        showDetail = !showDetail;
    }
}
