<div>

    @if (!showDetail)
    {
        <button @onclick="ToggleDetails">Show Details</button>
        <span>@Artifact.Name, Level: @Artifact.Level</span>
    }
    else
    {
        <button @onclick="ToggleDetails">Hide Details</button>
        <button @onclick="ToggleEdit">Toggle Edit</button>
        @if (isEditing)
        {
            <div>
                <label>
                    Name:
                    <input @bind="Artifact.Name" />
                </label>
            </div>
            <div>
                <label>
                    Level:
                    <input @bind="Artifact.Level" />
                </label>
            </div>
            <div>
                <label>
                    Form:
                    <input @bind="Artifact.Form" />
                </label>
            </div>
            <div>
                <label for="@(Artifact.ArtifactId)effect">
                    Effect:
                </label>
                <textarea id="@(Artifact.ArtifactId)effect" rows="1" class="form-control" style="resize:both;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';" @bind="Artifact.Effect" />
            </div>
            <div>
                <label>
                    Depletion:
                    <input @bind="Artifact.Depletion" />
                </label>
            </div>
            <div>
                <label>
                    Source:
                    <input @bind="Artifact.Source" />
                </label>
            </div>
        }
        else
        {
            <div>
                <label>
                    Name:
                </label>
                <span>@Artifact.Name</span>
            </div>
            <div>
                <label>
                    Level:
                </label>
                <span>@Artifact.Level</span>
            </div>
            <div>
                <label>
                    Form:
                </label>
                <span>@Artifact.Form</span>
            </div>
            <div>
                <label>
                    Effect:
                </label>
                <br />
                <span>
                    @Artifact.Effect
                </span>
            </div>
            <div>
                <label>
                    Depletion:
                </label>
                <span>@Artifact.Depletion</span>
            </div>
            <div>
                <label>
                    Source:
                </label>
                <span>@Artifact.Source</span>
            </div>
        }
    }


</div>

@code {
    [Parameter]
    public CypherBot.Core.Models.CharacterArtifact Artifact { get; set; }

    private bool showDetail = false;
    private bool isEditing = false;

    private void ToggleEdit()
    {
        isEditing = !isEditing;
    }
    private void ToggleDetails()
    {
        showDetail = !showDetail;
    }
}
